// Make Big Button
.weight_wizard {
    .btn-group {
        .sscar-button {
            padding: 1.2rem 2.4rem; /* Ajusta el relleno */
            font-size: 2rem; 
            border-radius: 0.375rem;
        }
    }
}